<div class="card">
  <div class="flex justify-between items-center mb-4">
    <div class="font-semibold text-xl">Liste des Patients</div>
    <button
      label="Ajouter un patient"
      pButton
      icon="pi pi-plus"
      class="p-button-rounded p-button-warning p-button-sm mr-2"
      title="Ajouter"
      (click)="openNewPatientDialog()"
    ></button>
  </div>

  <p-table
    #dt1
    [value]="patients"
    dataKey="id"
    [rows]="10"
    [loading]="loading"
    [rowHover]="true"
    [showGridlines]="true"
    [paginator]="true"
    [globalFilterFields]="['nom', 'maladie', 'etat']"
    responsiveLayout="scroll"
  >
    <ng-template #caption>
      <div class="flex justify-between items-center flex-column sm:flex-row w-full">
        <div class="flex gap-2 items-center mb-2 sm:mb-0">
          <button
            pButton
            label="Clear"
            class="p-button-outlined"
            icon="pi pi-filter-slash"
            (click)="clear(dt1)"
          ></button>

          <p-dropdown
          [options]="emergencyLevels"
          [(ngModel)]="selectedUrgenceLevel"
          placeholder="Sélectionner un niveau"
          (onChange)="onUrgenceChange($event, dt1)"
          appendTo="body"
        ></p-dropdown>
        
        </div>

        <p-iconfield iconPosition="left">
          <p-inputicon>
            <i class="pi pi-search"></i>
          </p-inputicon>
          <input
            pInputText
            type="text"
            (input)="onGlobalFilter(dt1, $event)"
            placeholder="Rechercher un patient"
          />
        </p-iconfield>
      </div>
    </ng-template>

    <ng-template pTemplate="header">
      <tr>
        <th>Nom</th>
        <th>Âge</th>
        <th>Maladie</th>
        <th>Niveau d'urgence</th>
        <th>Date d'entrée</th>
        <th>Temps d'attente</th>
        <th>Date de sortie</th>
        <th pSortableColumn="etat">État <p-sortIcon field="etat"></p-sortIcon></th>
        <th>Actions</th>
      </tr>
    </ng-template>

    <ng-template pTemplate="body" let-patient>
      <tr>
        <td>{{ patient.nom }}</td>
        <td>{{ calculateAge(patient.date_naissance) }} ans</td>
        <td>{{ patient.maladie }}</td>
        <td>
          <p-tag
            [value]="patient.emergency_level"
            [severity]="getSeverity(patient.emergency_level)"
            styleClass="dark:!bg-surface-900"
          />
        </td>
        <td>{{ patient.date_entree | date: 'short' }}</td>
        <td>
          <span *ngIf="patient.etat !== 'left'">
            {{ calculateWaitingTime(patient.date_entree) }}
          </span>
          <span *ngIf="patient.etat === 'left' && patient.date_sortie">
            {{ calculateWaitingTime(patient.date_entree, patient.date_sortie) }}
          </span>
        </td>
        <td>
          <span *ngIf="patient.etat === 'left' && patient.date_sortie">
            {{ patient.date_sortie | date: 'short' }}
          </span>
          <span *ngIf="patient.etat !== 'left'">—</span>
        </td>
        <td>
          <p-tag
            [value]="getEtatLabel(patient.etat)"
            [severity]="getEtatSeverity(patient.etat)"
            class="mb-2"
          ></p-tag>
          <div class="flex gap-1 mt-2">
            <button
              *ngIf="patient.etat === 'waiting'"
              pButton
              label="Prendre en charge"
              icon="pi pi-user-edit"
              class="p-button-sm p-button-outlined"
              style="color: black; border-color: black; background-color: white;"
              (click)="changerEtat(patient, 'in-progress')"
            ></button>

            <button
              *ngIf="patient.etat === 'in-progress'"
              pButton
              label="Patient sorti"
              icon="pi pi-sign-out"
              class="p-button-sm p-button-danger"
              (click)="changerEtat(patient, 'left')"
            ></button>
          </div>
        </td>
        <td>
          <div class="flex gap-2 justify-center">
            <button
              pButton
              icon="pi pi-pencil"
              class="p-button-rounded p-button-warning p-button-sm"
              title="Modifier"
              (click)="editPatient(patient)"
            ></button>
            <button
              pButton
              icon="pi pi-trash"
              class="p-button-rounded p-button-danger p-button-sm"
              (click)="deletePatient(patient.id)"
              title="Supprimer"
            ></button>
          </div>
        </td>
      </tr>
    </ng-template>

    <ng-template pTemplate="emptymessage">
      <tr>
        <td colspan="9">Aucun patient trouvé.</td>
      </tr>
    </ng-template>

    <ng-template pTemplate="loadingbody">
      <tr>
        <td colspan="9">Chargement des données...</td>
      </tr>
    </ng-template>
  </p-table>

  <!-- Modal ajout -->
  <p-dialog [(visible)]="patientDialog" [style]="{ width: '500px' }" header="Ajouter un patient" [modal]="true">
    <div class="flex flex-col gap-4">
      <div>
        <label for="nom" class="font-bold mb-2 block">Nom</label>
        <input id="nom" type="text" pInputText [(ngModel)]="newPatient.nom" required autofocus />
        <small *ngIf="submitted && !newPatient.nom" class="text-red-500">Nom requis</small>
      </div>

      <div>
        <label for="naissance" class="font-bold mb-2 block">Date de naissance</label>
        <p-calendar [(ngModel)]="newPatient.date_naissance" inputId="naissance" dateFormat="dd/mm/yy"></p-calendar>
      </div>

      <div>
        <label for="maladie" class="font-bold mb-2 block">Maladie</label>
        <input id="maladie" type="text" pInputText [(ngModel)]="newPatient.maladie" required />
      </div>

      <div>
        <label for="urgence" class="font-bold mb-2 block">Niveau d'urgence</label>
        <p-dropdown
          [options]="emergencyLevels"
          [(ngModel)]="newPatient.emergency_level"
          placeholder="Sélectionner un niveau"
          appendTo="body"
          [filter]="true"
        ></p-dropdown>
      </div>
    </div>

    <ng-template pTemplate="footer">
      <p-button label="Annuler" icon="pi pi-times" text (click)="patientDialog = false"></p-button>
      <p-button label="Ajouter" icon="pi pi-check" (click)="savePatient()"></p-button>
    </ng-template>
  </p-dialog>
   <!-- Modal édition -->
   <p-dialog [(visible)]="editDialogVisible" [style]="{ width: '500px' }" header="Modifier le patient" [modal]="true">
    <div class="flex flex-col gap-4">
      <div>
        <label for="edit-nom" class="font-bold mb-2 block">Nom</label>
        <input id="edit-nom" type="text" pInputText [(ngModel)]="selectedPatient.nom" required autofocus />
        <small *ngIf="submitted && !selectedPatient.nom" class="text-red-500">Nom requis</small>
      </div>

      <div>
        <label for="edit-naissance" class="font-bold mb-2 block">Date de naissance</label>
        <p-calendar [(ngModel)]="selectedPatient.date_naissance" inputId="edit-naissance" dateFormat="dd/mm/yy"></p-calendar>
      </div>

      <div>
        <label for="edit-maladie" class="font-bold mb-2 block">Maladie</label>
        <input id="edit-maladie" type="text" pInputText [(ngModel)]="selectedPatient.maladie" required />
      </div>

      <div>
        <label for="edit-urgence" class="font-bold mb-2 block">Niveau d'urgence</label>
        <p-dropdown
          [options]="emergencyLevels"
          [(ngModel)]="selectedPatient.emergency_level"
          placeholder="Sélectionner un niveau"
          appendTo="body"
          [filter]="true"
        ></p-dropdown>
      </div>
    </div>

    <ng-template pTemplate="footer">
      <p-button label="Annuler" icon="pi pi-times" text (click)="editDialogVisible = false"></p-button>
      <p-button label="Enregistrer" icon="pi pi-check" (click)="updatePatient()"></p-button>
    </ng-template>
  </p-dialog>
</div>
